
<% include ./layout %>
<% include ./navbar %>
<style>
.navbar-nav #abouts{
  border-bottom: 4px solid white;
}
</style>
<main id="about">
 <header class="bg-black text-white">
  <div class="containe wide-bg padding-left-sm-max-10 padding-left-850-max-35 padding-left-tab-min-90 padding-left-800-max-20 ">
   <div class="w-50 width-desk-max-70-pc width-sm-max-90-pc d-flex flex-direction-column height-300">
      <h1 class="text-tab-min-30 text-tab-max-25 align-self-center justify-content-center text-left">We help our customers meet the world's changing energy, transport and engineering needs.</h1>

   </div>
  </div>

 </header>
 
 <section class="mt-5 mb-5 containe padding-right-sm-max-10 padding-left-sm-max-10 padding-left-850-max-35 padding-left-tab-min-90 padding-left-800-max-20 padding-right-tab-min-90">
  <div class="mb-5">
    <div class="d-flex align-items-center ">
      <div class="h1 d-flex flex-column padding-right-15">
        <h1 class="text-tab-min-25 text-sm-max-20">About Us</h1>
        <span class="lines"></span>
      </div>
    </div>
    <div class="text mt-3 text-sm-min-17">
      <p class="margin-bottom-15 text-tab-min-19">Absolute Risk Technology Ltd. was established in 2009 and offers specialist Systems Engineering and System Assurance services to major hazard industry sectors. 
      </p>
      <p class="margin-bottom-10 text-tab-min-19">
        We provide our customers with wide range of consulting and advisoy services, and deep technical expertise across multiple projects. Our integrated offerings cover full assets management services and engineering, procurement and construction capability</p>

    </div>
  </div>
  <hr class="hr">
</section>

<section class="container-fluid margin-bottom-150 margin-bottom-sm-max-70 padding-right-sm-max-10 padding-left-sm-max-10  padding-left-850-max-35 padding-left-850-min-90 padding-left-800-max-20 padding-right-850-min-90">
    <div class="d-flex align-items-center mb-5">
        <div class="h1 d-flex flex-column padding-right-15">
          <h1 class="text-tab-min-25 text-sm-max-20">Bringing our core value to life</h1>
          <span class="liness"></span>
        </div>
    </div>

  <div class="fixed-size-card justify-content-center row padding-left-sm-max-0 padding-right-sm-max-0 padding-left-800-max-0 ml-0 mr-0">

    <div class="card col-md-4 col-sm-5 margin-right-sm-min-10 bg-white text-oil-dark border-radius-5 border-color-cyan-like border-width-2 margin-bottom-sm-max-30 ">
      <div class="card-body">
        <div class="d-flex flex-column">
          <div class="fa text-center align-self-center">
            <i class="fa fa-bullseye "></i>
            <p>Mission</p>
          </div>
          <p class="text-">We deliver a competitive and sustainable rate of return to shareholders by developing, acquiring and exploring for oil and gas resources vital to the world’s health and welfare.</p>
        </div>
      </div>
    </div>

    <div class="card col-md-4 col-sm-5 margin-right-sm-min-0 border-top-sm-0 bg-white text-oil-dark border-radius-5 border-color-cyan-like border-width-2 margin-bottom-sm-max-30">
        <div class="card-body">
          <div class="d-flex flex-column">
            <div class="fa text-center align-self-center">
              <i class="fa fa-eye"></i>
              <p>Vision</p>
            </div>
            <p>Leveraging our industry expertise and global presence, we transform processes, systems and people.</p>
            
          </div>
        </div>
      </div>

      <div class="card col-md-4 col-sm-5 margin-top-sm-min-20 margin-top-tab-min-0 margin-top-sm-max-0 border-top-sm-0 bg-white text-oil-dark border-radius-5 border-color-cyan-like border-width-2 margin-bottom-sm-max-30">
          <div class="card-body">
            <div class="d-flex flex-column">
              <div class="fa text-center align-self-center">
                <i class="fa fa-star"></i>
                <p>Values</p>
              </div>
              <p class="">Sustainability at ART means ensuring long-term business resilience and success while positively contributing toward the economy, society and the environment.</p>
            </div>
          </div>
        </div>
  </div>

</section>

<% include ./footer %>
</main