<style>
  @media (max-width: 575.98px){
    .quicklink {
    border-right-width: 0px !important;
  }
  }
</style>
<section id="forth-section" class=" bg-oil-dark">
  <footer class="containe padding-left-sm-max-10 padding-left-850-max-35 padding-left-tab-min-90 padding-left-800-max-20 ">
    <div class="row mx-auto pt-5">
      <div class="col-sm-5 col-md-5 mx-auto">
        <h2 class="text-sm-min-18 text-m-max-18 text-xs-max-15">About Us</h2>
        <p class="mb-3">Absolute Risk Technology Ltd. was established in 2009 and offers specialist Systems Engineering and System Assurance services to major hazard industry sectors. </p>
        <p class="" >
          We are committed to providing added value by leveraging on technical experience from our industry recognised engineers.
        </p>

      </div>

      <div class="quicklink col-md-3 col-sm-5 margin-top-sm-max-15 mx-auto">
        <h2 class="text-sm-min-18 text-xs-max-15 text-m-max-18">Quick Links</h2>
        <ul class='list-style-none'>
          <li class="text-15">Renewables</li>
          <li>Oil & Gas</li>
          <li>Transport</li>
          <li>technology</li>
          <li>Enterprise Asset Management</li>
          <li>Careers</li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-5 mx-auto margin-top-sm-max-15 contact">
        <h2 class="text-sm-min-18 text-m-max-18 text-xs-max-15">Contact Us</h2>
        <div class="d-flex justify-content-around w-50 mt-2">
          <a href='http://linkedin.com' class=""><i class="fab fa-linkedin-in "></i></a>
          <a href="http://youtube.com" class=""><i class=" fab fa-youtube"></i>
          </a>
          <a href='http://twitter.com/' class="">
          <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>

  </footer>
</section>