
<% include ./layout %>
<style>
  .navbar-nav .home{
    border-bottom: 4px solid white;
  }
  .quicklink{
    border-right: 1px solid grey;
    border-left: 1px solid grey;
  }
  @media (max-width: 991.98px){
    #third-section .line {
        width: 73%;
    }
}
@media (max-width: 767.98px){
    #third-section .line {
        width: 63%;
    }
}
@media (max-width: 545.98px){
  .email {
  position: relative;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.email button{
  margin-left: 5px;
}
  #first-section .card{
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  #first-section .border-top-sm-0{
    border-top-left-radius: 0% !important;
    border-top-right-radius: 0% !important;
  }
  .quicklink {
    border-right-width: 0px;
  }
}
@media (max-width: 492px){
    #third-section .line {
        width: 60%;
    }
}
@media (max-width: 457px){
    #third-section .line {
        width: 50%;
    }
}
@media (max-width: 370px){
    #third-section .h1 {
        flex-direction: column;
        justify-content: left;
        align-items: flex-start !important;
    }
    #third-section .line {
        width: 99%;
    }
    #third-section h1 {
        text-align: left;
    }
}




</style>
<nav class="navbar navbar-expand-sm navbar-light bg-light margin-right-sm-max-15">
  <a class="navbar-brand  padding-left-sm-max- padding-left-" href="/"> <img src="images/logo.png" class="width-sm-max-100 width-tab-min-150" alt="brand logo" srcset=""></a>
  <button class="navbar-toggler" style="border-color: #29ABE2 !important" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span style="color: #29ABE2 !important;" class="fa fa-bars"></span>
  </button>
  
  <div class="collapse mb-sm-max-3 navbar-collapse d-sm-flex flex-sm-column" id="navbarNav">
      <div class="div email align-self-end justify-content-right"> <strong>info@absoluterisktec.co.uk</strong> <button class="btn btn-cyan text-sm-max-20 text-tab-min-16  mobile-sm-fs border-radius-0">Email Us</button></div>

    <ul class="navbar-nav align-self-end pd-mobile-sm border-radius-0 text-sm-min-13 text-tab-min-18">
        
        <li class="nav-item home lap-fs lap-lg-fs mobile-lg-fs mobile-min-fs mobile-sm-fs"> <a class="nav-link" href='/'>Home</a></li>
        <li class="nav-item ipad-min-fs min-fs"> <a class="nav-link" href='/service'>Services </a></li>
        <li class="nav-item ipad-min-fs min-fs"> <a class='nav-link' href='/about'>About Us</a></li>
        <li class="nav-item ipad-min-fs min-fs"> <a class="nav-link" href='/contact'>Contact</a></li>
        <li class="nav-item ipad-min-fs min-fs"> <a class="nav-link" href='/career'>Career</a></li>
        <li class="nav-item ipad-min-fs min-fs"> <a class="nav-link" href='#'><i class="fa fa-search"></i></a> </li>
    </ul>
  </div>
</nav>
<!-- <nav>
  <div class="container">
    <div class="flex">
      <div class="log">
        <img src="images/logo.png" alt="brand logo" srcset="" class="brand">
      </div>
      <div class="mini-flex">
        <div class="f-div">

        </div>
        <div class="s-div">
            <ul class="ul">
              <li> <a href='/'>Home</a></li>
              <li> <a href='/service'>Services </a></li>
              <li> <a href='/about'>About Us</a></li>
              <li> <a href='/contact'>Contact</a></li>
              <li> <a href='/career'>Career</a></li>
              <li> <a href='#'><i class="fa fa-search"></i></a> </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</nav>   -->

<main>
  <header>
    <div class="wrapper">
      <div class="container ">
        <h1>Welcome To</h1>
        <h1 class="text-sm-max-40 text-sm-min-40 text-tab-min-50 text-sm-max-35">Absoluterisktec</h1>

      </div>
    </div>
  </header>
  <section class="container-fluid" id="first-section">
    <div class="d-fle row padding-right-sm-max-10 padding-left-sm-max-10">
      <div class="card bg-cyan text-white col-md-3 col-sm-5 margin-right-sm-min-10 ">
        <div class="card-body">
          <div class="d-flex flex-column">
            <div class="fa text-center align-self-center">
              <i class="fa fa-bullseye "></i>
              <p>Mission</p>
            </div>
            <p class="text-">We deliver a competitive and sustainable rate of return to shareholders by developing, acquiring and exploring for oil and gas resources vital to the world’s health and welfare.</p>
          </div>
        </div>
      </div>

      <div class="card col-md-3 col-sm-5 margin-right-sm-min-10 bg-oil-dark text-white border-top-sm-0">
          <div class="card-body">
            <div class="d-flex flex-column">
              <div class="fa text-center align-self-center">
                <i class="fa fa-eye"></i>
                <p>Vision</p>
              </div>
              <p class="text-14">Sustainability at ART means ensuring long-term business resilience and success while positively contributing toward the economy, society and the environment.</p>
            </div>
          </div>
        </div>

        <div class="card col-md-3 col-sm-5 margin-top-sm-min-20 margin-top-tab-min-0 margin-top-sm-max-0 bg-cyan border-top-sm-0 text-white">
            <div class="card-body">
              <div class="d-flex flex-column">
                <div class="fa text-center align-self-center">
                  <i class="fa fa-star"></i>
                  <p>Values</p>
                </div>
                <p>Leveraging our industry expertise and global presence, we transform processes, systems and people.</p>
              </div>
            </div>
          </div>
    </div>

  </section>

  <section id="second-section" class=" container padding-right-sm-max-10 padding-left-sm-max-10">
    <div class="">
      <div class="d-flex align-items-center ">
        <div class="h1 d-flex flex-column padding-right-15">
          <h1 class="text-tab-min-30 ">ART's Story</h1>
          <span class="line"></span>
        </div>
        <i class="margin-right-15 fa fa-laptop-code"></i>
        <i class="margin-right-15 fa fa-tint"></i>
        <i class="margin-right-15 fa fa-train"></i>
        
      </div>
      <div class="text mt-3 text-sm-min-17">
        <p class="margin-bottom-15">Absolute Risk Technology Ltd. was established in 2009 and offers specialist Systems Engineering and System Assurance services to major hazard industry sectors. 
        </p>
        <p class="margin-bottom-10">
          We are committed to providing added value by leveraging on technical experience from our industry recognised engineers. </p>

          <button class="btn btn-outline-cyan">
            LEARN MORE
          </button>
      </div>
    </div>
  </section>

  <section id="third-section" class="container margin-top-60">
    <div class="h1 d-flex align-items-center">
      <h1 class="text-tab-min-25"> Market Sectors </h1>
      <span class="line"></span>
    </div>

    <div class="wrap row padding-right-sm-max-10 padding-left-sm-max-10 margin-top-30 ">
      <div class="col-md-4 col-sm-5 mx-auto margin-bottom-sm-max-30">
        <div class="">
          <div class="card-bod">
          <img src="images/technology.png" class="w-100" alt="" srcset="">
        </div>
          <div class="card-text">
            <h4 class="card-title"> Technology</h4>
            <p class="text-muted">We understand that technologies designed for cost effective, sustainable use requires the visionary insights into the application of best practices.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-5 margin-right-sm-min- mx-auto margin-bottom-sm-max-30">
        <div class="">
          <div class="card-bod">
          <img src="images/energy.png" class="w-100" alt="" srcset="">
          </div>
          <div class="card-text">
            <h4 class="card-title"> Green & Sustainable Energy</h4>
            <p class="text-muted">ART provides technology and engineering advice for most forms of alternative energy solutions. We have provided technical support to firms in this sector.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-5 margin-right-sm-min- mx-auto margin-bottom-sm-max-30">
        <div class="car">
          <div class="card-bod">
          <img src="images/enterprise.png" alt="" class="w-100" srcset="">
          </div>
          <div class="card-text">
            <h4 class="card-title"> Enterprise Asset Management</h4>
            <p class="text-muted">With Enterprise Asset Management (EAM), the aim is to optimise the management of the existing capital-intensive assets of an organisation.</p>
          </div>
        </div>
      </div>


      <div class="col-md-4 col-sm-5 ml-auto margin-bottom-sm-max-30">
        <div class="car">
          <div class="card-bod">
          <img src="images/oilandgas.png" alt="" class="w-100" srcset="">
          </div>
          <div class="card-text">
            <h4 class="card-title"> Oil & Gas</h4>
            <p class="text-muted">We understand that technologies designed for cost effective, sustainable use requires the visionary insights into the application of best practices.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-5 margin-right-sm-min- mr-auto margin-bottom-sm-max-30">
        <div class="car">
          <div class="card-bod">
          <img src="images/rail.png" alt="" class="w-100" srcset="">
          </div>
          <div class="card-text">
            <h4 class="card-title"> Rail Systems & Infrastructure</h4>
            <p class="text-muted">ART provides technology and engineering advice for most forms of alternative energy solutions. We have provided technical support to firms in this sector.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="forth-section" class="mt-5 bg-oil-dark">
    <footer class="container">
      <div class="row mx-auto pt-5">
        <div class="col-sm-5 col-md-5 mx-auto">
          <h2 >About Us</h2>
          <p class="mb-3">Absolute Risk Technology Ltd. was established in 2009 and offers specialist Systems Engineering and System Assurance services to major hazard industry sectors. </p>
          <p class="" >
            We are committed to providing added value by leveraging on technical experience from our industry recognised engineers.
          </p>

        </div>

        <div class="quicklink col-md-3 col-sm-5 margin-top-sm-max-15 mx-auto">
          <h2 >Quick Links</h2>
          <ul class='list-style-none'>
            <li>Renewables</li>
            <li>Oil & Gas</li>
            <li>Transport</li>
            <li>technology</li>
            <li>Enterprise Asset Management</li>
            <li>Careers</li>
          </ul>
        </div>

        <div class="col-md-3 col-sm-5 mx-auto margin-top-sm-max-15 contact">
          <h2 class="">Contact Us</h2>
          <div class="d-flex justify-content-around w-50 mt-2">
            <i class="fab fa-linkedin-in"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-twitter"></i>
          </div>
        </div>
      </div>

    </footer>
  </section>
</main>
