<nav class="navbar navbar-expand-sm navbar-light bg-light padding-right-sm-max-15">
 <a class="navbar-brand  padding-left-sm-max-10 padding-left-850-max-35 padding-left-tab-min-90 padding-left-800-max-20" href="/"> <img src="images/logo.png" class="width-sm-max-100 width-tab-max-150 width-tab-min-200 width-desk-max-150 width-800-max-120" alt="brand logo" srcset=""></a>
 <button class="navbar-toggler" style="border-color: #29ABE2 !important" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
   <span style="color: #29ABE2 !important;" class="fa fa-bars"></span>
 </button>
 
 <div class="collapse mb-sm-max-3 navbar-collapse d-sm-flex flex-sm-column" id="navbarNav">
     <div class="div email align-self-end justify-content-right"> <strong>info@absoluterisktec.co.uk</strong> <button class="btn btn-cyan text-sm-max-20 text-tab-min-16  mobile-sm-fs border-radius-0">Email Us </button></div>

   <ul class="navbar-nav justify-content-around align-self-end pd-mobile-sm border-radius-0 text-sm-min-13 text-tab-min-18"  style="width: 90% !important">
       
       <li class="nav-item lap-fs lap-lg-fs mobile-lg-fs mobile-min-fs mobile-sm-fs"> <a class="nav-link" id='home' href='/'>Home</a></li> 
        
       <li class="nav-item ipad-min-fs min-fs"> <a class="nav-link" id='services' href='/services'>Services </a></li>
       <li class="nav-item ipad-min-fs min-fs"> <a class='nav-link' id='abouts' href='/about' id=''>About Us</a></li>
       <li class="nav-item ipad-min-fs min-fs"> <a class="nav-link" id="contacts" href='/contact'>Contact</a></li>
       <li class="nav-item ipad-min-fs min-fs"> <a class="nav-link" id="careers" href='/careers'>Careers</a></li>
       <li class="nav-item ipad-min-fs min-fs"> <a class="nav-link" id="searchs" href='#'><i class="fa fa-search"></i></a> </li>
   </ul>
 </div>
</nav>