<% include ./layout %>
<% include ./navbar %>
<style>
 .navbar-nav #services{
    border-bottom: 4px solid white;
  }
</style>
<main>
 <header id="service" class="mb-0">
  <div class="wrapper">
   <div class="container containment">
     
    <div class="row">

     <div class="col-md-3 col-sm-5 margin-top-tab-min-20 margin-left-tab-min-100 margin-right-desk-max-90">
      <div class="d">
       <h4>Renewables</h4>
       <div class="card-body renew row align-items-center">
        <img src="images/wind (1).png" alt="" srcset=""  class="mx-auto">
       </div>
      </div>
     </div>

     <div class="col-md-3 col-sm-5 margin-bottom-tab-min-50">
       <div class="d">
        <h4>Transport</h4>
        <div class="card-body trans row align-items-center">
         <img src="images/train (1).png" alt="" srcset=""  class="mx-auto">
        </div>
       </div>
      </div>

    </div>


    <div class="row" >

      <div class="col-md-3 col-sm-5 margin-left-tab-min-30 margin-top-tab-min-20 ml-auto margin-right-desk-max-90 margin-bottom-sm-max-30">
       <div class="d">
        <h4>Technology</h4>
        <div class="card-body tech row align-items-center">
         <img src="images/electronics.png" alt="" srcset=""  class="mx-auto">
        </div>
       </div>
      </div>
 
      <div class="col-md-3 col-sm-5 margin-top-tab-min-50 margin-right-desk-max-90">
        <div class="d">
         <h4>Oil &amp; Gas</h4>
         <div class="card-body oilandgas row align-items-center">
          <img src="images/oil-valve.png" alt="" srcset=""  class="mx-auto">
         </div>
        </div>
       </div>
 
       <div class="col-md-3 col-sm-5 margin-bottom-tab-min-1 mr-auto margin-top-tab-max-0 margin-top-minus-50" style="display: flex !important; flex-direction: column !important;">
         <div class="d">
          <h4>Enterprise Asset Management</h4>
          <div class="card-body trans row align-items-center">
           <img src="images/value.png" alt="" srcset=""  class="mx-auto">
          </div>
         </div>
        </div>
  
     </div>
     
   </div>
  </div>
 </header>

 <% include ./footer %>
</main>